<!doctype html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
    
     <!-- Core CSS - Include with every page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Tables -->
    <link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet">

    
  </head>

  <body>
    <div id="page">
      <div id="header">
        <h1>COMP61542: {{ args.dataset }}</h1>

        <div id="navigation">
          <a href="/">Home</a>
        </div>
      </div>

      <div id="content">
      <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">                       
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">

        {% block content %}{% endblock %}
      
      						</div>
                            <!-- /.table-responsive -->
                           
                           </div>
                       </div>
                        <!-- /.panel-body -->
                   </div>
                    <!-- /.panel -->
               </div>

      </div>
    </div>
  </body>
</html>
