<!DOCTYPE html>
<html>

<head>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{% block title %}{% endblock %}</title>  
    
    <!-- Core CSS - Include with every page -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Tables -->
    <link href="{{ url_for('static', filename='css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{{ url_for('static', filename='css/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/plugins/timeline/timeline.css') }}" rel="stylesheet">

  </head>

  <body>

     <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation"  style="margin-bottom: 0; height:120px">
            <div class="navbar-header">

                <a class="navbar-brand" href="index.html" ><img alt="" width="224px" height="95px" src="{{ url_for('static', filename='images/man.jpg') }}"></a>
				<h1 style=" margin-left:300px; margin-top:40px; text-align:center">Research Publications of The University of Manchester</h1>
                <h4  style=" margin-left:300px; margin-top:0px; text-align:center">COMP61542: {{ args.dataset }}</h4>


            </div>
            <!-- /.navbar-header -->

        </nav>
        <!-- /.navbar-static-top -->


        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                	 <li>
                        <a href="/" style="color:#641E8C;">Home</a>
                    </li>
                	<li>
                        <a href="#" style="color:#641E8C;">Publication<span class="fa arrow" style="color:#641E8C;"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/statisticsdetails/publication_summary" style="color:#641E8C;">Publication Summary</a>
                            </li>
                            <li>
                                <a href="/statisticsdetails/publication_author" style="color:#641E8C;">Publication by Author</a>
                            </li>
                             <li>
                                <a href="/statisticsdetails/publication_year" style="color:#641E8C;">Publication by Year</a>
                            </li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="/statisticsdetails/author_year" style="color:#641E8C;">Author by Year</a>
                    </li>
                    <li>
                        <a href="/averages" style="color:#641E8C;">Averaged Year Data</a>
                    </li>
                    <li>
                        <a href="/coauthors" style="color:#641E8C;">Co-Authors</a>
                    </li>
                    <li>
                        <a href="#" style="color:#641E8C;">Appearance by Author<span class="fa arrow" style="color:#641E8C;"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/statisticsdetails/first_author" style="color:#641E8C;">Authors that appear first by publication type</a>
                            </li>
                            <li>
                                <a href="/statisticsdetails/last_author" style="color:#641E8C;">Authors that appear first by publication type</a>
                            </li>
                            <li>
                                <a href="/first_last_sole" style="color:#641E8C;">Authors that appear first and last</a>
                            </li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="/search" style="color:#641E8C;">Author's Statistics</a>
                    </li>
                    <li>
                        <a href="/degree" style="color:#641E8C">Degree of Separation</a>

                    </li>

                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->




        {% block content %}{% endblock %}

      </div>

   
	<!-- Core Scripts - Include with every page -->
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js') }}" type="text/javascript"></script>

    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="{{ url_for('static', filename='js/plugins/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>

    <!-- Page-Level Plugin Scripts - Flot -->
    <!--[if lte IE 8]> <script src="{{ url_for('static', filename='js/excanvas.min.js') }}" type="text/javascript"></script><![endif]-->
     <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.js') }}" type="text/javascript"></script>
     <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.tooltip.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.resize.js') }}" type="text/javascript"></script>
     <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.pie.js') }}" type="text/javascript"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ url_for('static', filename='js/sb-admin.js') }}" type="text/javascript"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
      <script  type="text/javascript">
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
    
  </body>
</html>
