{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}


<div id="content">
  <div id="page-wrapper">
   		<div class="row">
            <h1>{{ args.title }}</h1>
                <div class="col-lg-12">
                      <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">


<form name="input" action="/search" method="get" data-ajax="false" onSubmit="validateForm(this)">
Name of Author: <input type="" name="author_name"  value="{{ args.author_name }}">
<input type="submit" value="Submit">
</form>



{% for table in args.tables %}
<h1> </h1>
<h3>{{ table.title }}</h3>
<h2></h2>
<table >
  <thead>
    <tr>
        <th></th>
    </tr>
  </thead>
  <tbody>
    {% for row in table.rows %}    
      <tr>

          <td><a href="/authorStatistics/{{row}}">{{ row }}</a></td>

      </tr>
    {% endfor %}
  </tbody>
</table>
<br/>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

{% endfor %}
{% endblock %}